HTML, body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media (min-width: 900px) {
    header{
        /* width: 100%; */
        /* height: 350px; */
        background:  url(assets/img/Screenshot\ 2023-04-13\ at\ 12-53-06\ Descifrar\ Identidad\ \(\ des_identity\)\ Instagram.png);
        /* background-repeat: no-repeat; */
    }
    
    img{
    /* width: 50%; */
        height: 250px;
        /* padding: auto;
        margin: auto; */
        align-items: center;
        align-self: center;
        align-content: center;
        text-align: center;
        background-repeat: no-repeat;
    }
    
    ul{
        list-style-type: none;
        /* margin: 0;
        padding: 0 0 0 20rem; */
        overflow: hidden;
        background-color: #333333;
    }
    
    .nav{
        float:left;
        /* padding: auto;
        margin: auto; */
        
    }
    .nav a{
        display: block;
      color: white;
      text-align: center;
      padding: 1rem;
      text-decoration: none;
    }
    .nav a:hover {
        background-color: #111111;
      }

      main{
        display: flex;
      }

      section{
    width: 70%;
    padding: 0 1rem;
    margin:0 1rem;
      }
    
    aside{
        display: flex;
        flex-direction: column;
    }

    aside a{
        display: block;
        padding: 1rem;
        /* margin: 5px; */
    }

    aside a:hover{
        background-color: #111111;
        color: white;
    }

    .liperformers{
        list-style: none;
    }
    aside div .xr{
        display:none;
 /* position:absolute;
 top:100%;
 left:0; */
 background:#ffffff;
 padding: 1rem;

    }

    aside div .xr {
        float:none;
        /* width:150px */
       }

       aside div ul a {
        /* line-height:120%; */
        padding:1rem;
       }

    aside div:hover > .xr{
        display: block;
    }

    


}
